html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Ajuste o valor de acordo com a altura do seu footer */
    font-family: Arial, sans-serif;
    
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; /* Define a largura como 100% */
    background-color: #333; /* Defina a cor de fundo desejada */
    color: white; /* Defina a cor do texto desejada */
    padding: 20px;
}
